<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="/static/css/demo.css">
</head>
<body>
<h1>{{head_msg}}</h1>
<ul>
<li> <h2>{{sub_msg1}}</h2> </li>
<li> <h2>{{sub_msg2}}</h2> </li>
<li> <h2>{{sub_msg3}}</h2> </li>
</ul>
<img src="https://media.gettyimages.com/photos/bollywood-actor-salman-khan-during-a-press-conference-of-movie-at-picture-id699253452?s=2048x2048" %}" alt="Girl in a jacket" >-->
<img src=images/sunny.jpg" , alt="">
<img src="{% static "images/guido.jpg" %}" alt="">
<img src="{% static "images/divine3.jpg" %}" alt="">
</body>
</html>

